body {
  background: rgb(171, 218, 19);
  background: radial-gradient(
    circle,
    rgb(119, 115, 202) 0%,
    rgb(67, 188, 215) 0%,
    rgb(29, 29, 184) 100%
  );
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}
